@import '@/styles/settings.module.scss';
button {
  outline: 0;
  border: 0;
  cursor: pointer;
  &:hover {
    opacity: 0.9;
  }

  span {
    font-weight: $font-weight-semibold;
    font-size: $font-size-base;
    color: var(--color, $color-white);
  }

  @media (max-width: 320px) {
    width: 13rem;
  }
}
