@import '@/styles/settings.module.scss';

.delete-task-title {
  font-weight: $font-weight-semibold;
  font-size: $font-size-large;
}
.delete-text {
  font-weight: $font-weight-regular;
  font-size: $font-size-base;
  color: $color-black;
  opacity: 54%;
}

.delete-task-button {
  height: 3.188rem;
  width: 11.563rem;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem 1rem 1.5rem;

  &.cancel {
    background: $color-gray-light;
  }
  &.delete {
    background: linear-gradient(
      90deg,
      $color-danger 0%,
      $color-danger-light 68.65%
    );
  }
  @media (max-width: 320px) {
    width: 100%;
  }
}

.delete-task-container-button {
  column-gap: 1rem;
  display: flex;
  @media (max-width: 320px) {
    flex-direction: column;
    row-gap: 1rem;
  }
}
