@import '@/styles/settings.module.scss';

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2.5rem;
  @media (max-width: 481px) {
    margin: 2.5rem 7.4vw 0 7.4vw;
  }
}

.page-task-button {
  height: 2.563rem;
  width: 28.125rem;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem 1rem 1.5rem;
  margin: 1.5rem 0 1.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    90deg,
    $color-blue-light 0%,
    $color-blue-medium 68.65%
  );
  outline: 0;
  border: 0;
  cursor: pointer;
  &:hover {
    opacity: 0.9;
  }
  outline: 0;
  span {
    font-weight: $font-weight-semibold;
    font-size: $font-size-base;
    color: $color-white;
  }
  @media (max-width: 481px) {
    padding: 1rem 4.031rem 1rem 4.031rem;
  }
}
